
.example-badge-container {
    max-width: 1400px;
}

.example-badge-container h2 {
    font-size: 1rem;
}

.example-badge-container h2 span {
    color: #68bbdb;
    font-size: 1.25rem;
}

.example-badge-container > .example-container {
    display: grid;
    grid-template-columns: 0.25fr repeat(9, 1fr) 0.5fr;
    grid-template-rows: auto;
    grid-template-areas:
    "..... ..... gray-text red-text yellow-text green-text blue-text indigo-text purple-text pink-text ....."
    "..... square gray-square red-square yellow-square green-square blue-square indigo-square purple-square pink-square ....."
    "..... pill gray-pill red-pill yellow-pill green-pill blue-pill indigo-pill purple-pill pink-pill .....";
    gap: 5px;
    place-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #d1d3d813;
}
.example-badge-container > .example-container > .example{
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    padding: 2px;
}

.example-badge-container > .example-container > .example,
.example-badge-container > .example-container > .heading {
    width: 100%;
}

.example-badge-container > .example-container > .heading {
    font-size: 0.8rem;
    color: #68bbdb;
    text-align: center;
    padding: 4px 8px;
    border: 1px solid #68bbdb;
    border-radius: 2px;
    cursor: pointer;
}

.example-badge-container > .example-container > .heading:hover {
    background-color: rgba(90, 161, 189, 0.123);
}

.example-badge-container > .example-container > .gray-square {grid-area: gray-square;}

.example-badge-container > .example-container > .red-square{grid-area: red-square;}

.example-badge-container > .example-container > .yellow-square {grid-area: yellow-square;}

.example-badge-container > .example-container > .green-square {grid-area: green-square;}

.example-badge-container > .example-container > .blue-square{grid-area: blue-square;}

.example-badge-container > .example-container > .indigo-square {grid-area: indigo-square;}

.example-badge-container > .example-container > .purple-square {grid-area: purple-square;}

.example-badge-container > .example-container > .pink-square{grid-area: pink-square;}

.example-badge-container > .example-container > .gray-pill {grid-area: gray-pill;}

.example-badge-container > .example-container > .red-pill{grid-area: red-pill;}

.example-badge-container > .example-container > .yellow-pill {grid-area: yellow-pill;}

.example-badge-container > .example-container > .green-pill {grid-area: green-pill;}

.example-badge-container > .example-container > .blue-pill{grid-area: blue-pill;}

.example-badge-container > .example-container > .indigo-pill {grid-area: indigo-pill;}

.example-badge-container > .example-container > .purple-pill {grid-area: purple-pill;}

.example-badge-container > .example-container > .pink-pill{grid-area: pink-pill;}

.example-badge-container > .example-container > .gray-text{grid-area: gray-text;}
.example-badge-container > .example-container > .red-text{grid-area: red-text;}
.example-badge-container > .example-container > .yellow-text{grid-area: yellow-text;}
.example-badge-container > .example-container > .green-text{grid-area: green-text;}
.example-badge-container > .example-container > .blue-text{grid-area: blue-text;}
.example-badge-container > .example-container > .indigo-text{grid-area: indigo-text;}
.example-badge-container > .example-container > .purple-text{grid-area: purple-text;}
.example-badge-container > .example-container > .pink-text{grid-area: pink-text;}

.example-badge-container > .example-container > .square{grid-area: square;}
.example-badge-container > .example-container > .pill{grid-area: pill;}
.example-badge-container > .example-container > .square-left {display: none;}
.example-badge-container > .example-container > .pill-left {display: none;}
.example-badge-container > .example-container > .square-right {display: none;}
.example-badge-container > .example-container > .pill-right {display: none;}

@media (max-width: 675px) {
    .example-badge-container > .example-container {
        padding: 0 20px 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "..... square-left pill-left pill-right square-right ......"
        "gray-text gray-square gray-pill red-pill red-square red-text"
        "yellow-text yellow-square yellow-pill green-pill green-square green-text"
        "blue-text blue-square blue-pill indigo-pill indigo-square indigo-text"
        "purple-text purple-square purple-pill pink-pill pink-square pink-text";
    }
    .example-badge-container > .example-container > .square {display:none}
    .example-badge-container > .example-container > .pill {display: none}
    .example-badge-container > .example-container > .square-left {display:block; grid-area: square-left;}
    .example-badge-container > .example-container > .pill-left {display: block; grid-area: pill-left;}
    .example-badge-container > .example-container > .square-right {display:block; grid-area: square-right;}
    .example-badge-container > .example-container > .pill-right {display: block; grid-area: pill-right;}
}

@media (max-width: 475px) {
    .example-badge-container > .example-container {
        padding: 0 20px 40px;
        grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
        gap: 10px;
        grid-template-areas: 
        "..... ..... square pill  ......"
        "..... gray-text gray-square gray-pill ....."
        "..... red-text red-square red-pill ....."
        "..... yellow-text yellow-square yellow-pill ....." 
        "..... green-text green-square green-pill ....."
        "..... blue-text blue-square blue-pill ....." 
        "..... indigo-text indigo-square indigo-pill ....."
        "..... purple-text purple-square purple-pill ....."
        "......pink-text pink-square pink-pill .....";
    }
    .example-badge-container > .example-container > .square {display:block;}
    .example-badge-container > .example-container > .pill {display: block;}
    .example-badge-container > .example-container > .square-left {display:none;}
    .example-badge-container > .example-container > .pill-left {display: none;}
    .example-badge-container > .example-container > .square-right {display:none;}
    .example-badge-container > .example-container > .pill-right {display: none;}

}

@keyframes flashBorder {
    0% { border-color: rgba(90, 161, 189, 0.123); }
    25% { border-color: white; }
    50% { border-color: rgba(90, 161, 189, 0.123); }
    75% { border-color: white; }
    100% { border-color: rgba(90, 161, 189, 0.123); }
}

.selected-badge {
    background-color: #68bbdb;
    color: #16212c !important;
}

.flash-border {
    animation: flashBorder 3s linear infinite;
}