.example-banner-container > .example-container {
    max-width: 1400px;
}

.example-banner-container > .example-container h2 {
    font-size: 1rem;
}

.example-banner-container > .example-container {
    display: grid;
    grid-template-columns: 0.25 repeat(3, 1fr) 0.25fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "..... ..... single multi ....."
    "..... success s-single s-multi ....."
    "..... info i-single i-multi ....."
    "..... attention a-single a-multi ....."
    "..... error e-single e-multi .....";
    gap: 10px 5px;
    place-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #d1d3d813;
}


.example-banner-container > .example-container > .example,
.example-banner-container > .example-container > .heading {
    width: 100%;
}

.example-banner-container > .example-container > .heading {
    font-size: 0.8rem;
    color: #68bbdb;
    text-align: center;
    padding: 4px 8px;
    border: 1px solid #68bbdb;
    border-radius: 2px;
    cursor: pointer;
}

.example-banner-container > .example-container > .heading:hover {
    background-color: rgba(90, 161, 189, 0.123);
}

.example-banner-container > .example-container > .multi-success {grid-area: s-multi;}
.example-banner-container > .example-container > .multi-info {grid-area: i-multi;}
.example-banner-container > .example-container > .multi-attention {grid-area: a-multi;}
.example-banner-container > .example-container > .multi-error {grid-area: e-multi;}
.example-banner-container > .example-container > .single-success {grid-area: s-single;}
.example-banner-container > .example-container > .single-info {grid-area: i-single;}
.example-banner-container > .example-container > .single-attention {grid-area: a-single;}
.example-banner-container > .example-container > .single-error {grid-area: e-single;}

.example-banner-container > .example-container > .example {place-self: start;}
.example-banner-container > .example-container > .heading {place-self: start;}

.example-banner-container > .example-container > .multi1.heading { grid-area: multi;}
.example-banner-container > .example-container > .single1.heading { grid-area: single;}

.example-banner-container > .example-container > .success-text { grid-area: success;}
.example-banner-container > .example-container > .info-text { grid-area: info;}
.example-banner-container > .example-container > .attention-text { grid-area: attention;}
.example-banner-container > .example-container > .error-text { grid-area: error;}

.example-banner-container > .example-container > .multi2.heading,
.example-banner-container > .example-container > .multi3.heading,
.example-banner-container > .example-container > .multi4.heading,
.example-banner-container > .example-container > .single2.heading,
.example-banner-container > .example-container > .single3.heading, 
.example-banner-container > .example-container > .single4.heading {
    display: none;
}


@media (max-width: 500px){
    .example-banner-container > .example-container {
        padding: 0 20px 40px;
        grid-template-columns: 0.5fr 1fr 0.1fr;
        grid-template-areas: 
        "success success ....."
        "single s-single ....."
        "multi s-multi ....."
        "info info ....."
        "single2 i-single ....."
        "multi2 i-multi ....."
        "attention attention ....."
        "single3 a-single ....."
        "multi3 a-multi ....."
        "error error ....."
        "single4 e-single ....."
        "multi4 e-multi .....";
    }

    .example-banner-container > .example-container > .multi2.heading { display: block; grid-area: multi2;}
    .example-banner-container > .example-container > .multi3.heading { display: block; grid-area: multi3;}
    .example-banner-container > .example-container > .multi4.heading { display: block; grid-area: multi4;}
    .example-banner-container > .example-container > .single2.heading { display: block; grid-area: single2;}
    .example-banner-container > .example-container > .single3.heading { display: block; grid-area: single3;}
    .example-banner-container > .example-container > .single4.heading { display: block; grid-area: single4;}

    .example.banner-container > .example-container > .multi1.heading,
    .example-banner-container > .example-container > .multi2.heading,
    .example-banner-container > .example-container > .multi3.heading,
    .example-banner-container > .example-container > .multi4.heading {
        place-self:center;
    }
}