.header-container {
    margin: 0 auto;
    border-bottom: 0.5px solid #d1d3d813;
    padding: 0;
}

.border-container {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 5px;
    gap : 20px;
}

.scrimba-logo {
    border-radius: 50%;
    height: 45px;
}

.title {
    padding-top: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    color: white;
    margin: 0;
    font-weight: 400;

}

@media (max-width: 500px) {
    .header-container {
        max-width: 250px;
    }
    .title {
        font-size: 0.75em;
        text-align: center;
    }
    .header-container svg {
        scale: 0.75;
    }
}