/* Tooltip Color Schemes */

/* .bold and .light variants for background color and h1 heading color */
/* accent affects the color of the closing X and the p element (main content) */
/* icon affects the color of the icon */
/* border-color is necessary to ensure the tooltip arrow matches the background color */

/*grayscale bold*/

.gray.bold {
    background-color: #262626;
    border-color: #262626 transparent transparent transparent;
    color: #ffffff;
}
.gray.bold .accent {
    color: #C7C7C7;
    fill: #C7C7C7;
}

.gray.bold .icon {
    stroke: #C7C7C7;
}

/*grayscale light*/

.gray.light {
    background-color: #ffffff;
    border-color: #ffffff transparent transparent transparent;
    color: #111827;
}

.gray.light .accent {
    color: #6B7280;
    fill: #6B7280;
}

.gray.light .icon {
    stroke: #6B7280;
}

/*blue bold*/

.blue.bold {
    background-color: #1E40AF;
    border-color: #1E40AF transparent transparent transparent;
    color: #FFFFFF;
}

.blue.bold .accent {
    color: #D8D8D8;
    fill: #D8D8D8;
}

.blue.bold .icon {
    stroke: #7EA6F2;
}

/*blue light*/

.blue.light {
    background-color: #E0E7FF;
    border-color: #E0E7FF transparent transparent transparent;
    color: #1E40AF;
}

.blue.light .accent {
    color: #1C51B9;
    fill: #1C51B9;
}

.blue.light .icon {
    stroke: #1C51B9;
}

/*purple bold*/

.purple.bold {
    background-color: #A9229B;
    border-color: #A9229B transparent transparent transparent;
    color: #ffffff;
}

.purple.bold .accent {
    color: #FFE9FD;
    fill: #FFE9FD;
}

.purple.bold .icon {
    stroke: #F462E6;
}


/*purple light*/


.purple.light {
    background-color: #FFF3FC;
    border-color: #FFF3FC transparent transparent transparent;
    color: #A9229B;
}

.purple.light .accent {
    color: #C7369E;
    fill: #C7369E;
}

.purple.light .icon {
    stroke: #C7369E;
}

/*green bold*/

.green.bold {
    background-color: #47AA5D;
    border-color: #47AA5D transparent transparent transparent;
    color: #ffffff;
}

.green.bold .accent {
    color: #E3FFE9;
    fill: #E3FFE9;
}

.green.bold .icon {
    stroke: #C1FFCF;
}


/*green light*/


.green.light {
    background-color: #E7FFF3;
    border-color: #E7FFF3 transparent transparent transparent;
    color: #137A2A;
}

.green.light .accent {
    color: #3C8C4E;
    fill: #3C8C4E;
}

.green.light .icon {
    stroke: #41A557;
}

/* Tooltip styling */

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
        "icon title close"
        ".... text ....";
    text-align: left;
    padding: 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

/* Tooltip arrow */
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: inherit;
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Tooltip content styling */
.tooltip-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 8px;
    font-family: 'Inter', sans-serif;
}

.tooltip-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-top: 2px;
}

.tooltip-title {
    font-size: 0.875rem;
    font-weight: 500;
}

.tooltip-text {
    font-size: 0.875rem;
    font-weight: 400;
}

.tooltip-trigger {
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

