* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: #16212c;
}

  .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}